# MongoDB Atlas connection
ATLAS_URI=mongodb+srv://vectordemo:<password>@vector-search-demo.xxxxx.mongodb.net/?retryWrites=true&w=majority

# MongoDB Atlas connection for the M10 scaling cluster
ATLAS_URI_M10=mongodb+srv://vectordemo:<password>@vector-search-scaling.xxxxx.mongodb.net/?retryWrites=true&w=majority

# OpenAI API key
OPENAI_API_KEY=sk-proj-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx